/* Height set to 100% viewheight */
body, main {
    height: 100vh;
}

/* Remove spacing between card text and card options */
.card .card-content {
    padding-top: 0px;
}

/* Rotate icon by 90deg and flip on vertical axis */
.fa-flipY-rotate90 {
    transform: rotate(90deg) scaleY(-1);
}